==
<div class="lt-row row">
  <div class="lt-col col s12">
    <h2 class="lt-title center">Users Voice</h2>
  </div>
</div>

<div class="lt-row row">
  <div class="col s12">
    <div class="lt-owl-carousel owl-carousel owl-theme">
        <div class="item">
          <div class="lt-owl-carousel-item item">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text">
                <span>Great experience! Honest and finished on time. Helpful and knowledgeable. Would definitely recommend</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-name">Eric B.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="lt-owl-carousel-item item">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text">
                <span>SF5 is a cut above the rest, not only were they able to replace my roof and add adequate ventilation but they were also able to repair water damage to my drywall and repainted. I also had them rebuild my fence which was in dire need. I would strongly recommend SF5 for any issues you might be having!</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-name">Scott D.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="lt-owl-carousel-item item">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text">
                <span>Highly recommend SF5, they were very professional and very helpful with dealing with my insurance company on two sepereate roof replacements.</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-name">Matthew S.</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>