==
<div class="lt-row row">
  <div class="lt-col col m6 s12">
    <div class="parallax-container">
      <div class="lt-parallax parallax"><img src="{{ 'assets/img/pages/home/mainpage/rooftophome.jpeg'|theme }}" alt="image"></div>
    </div>
  </div>
  <div class="lt-col col m6 s12">
    <div class="lt-super-large-padding center">
      <div class="lt-col col s12">
        <h2 class="lt-title">General Contracting</h2>
      </div>
      <div class="lt-col col s12">
        <ul id="lt-materializecss-tab" class="lt-tabs tabs">
          <li class="tab lt-col col s4"><a class="active" href="#lt-materializecss-tab1">Our Team</a></li>
          <li class="tab lt-col col s4"><a href="#lt-materializecss-tab2">Safety</a></li>
          <li class="tab lt-col col s4"><a href="#lt-materializecss-tab3">Open Communication</a></li>
        </ul>
      </div>
      <div id="lt-materializecss-tab1" class="lt-tab-content lt-col col s12">
        <p>We choose the most qualified team for your project to produce the results you are looking for.</p>
      </div>
      <div id="lt-materializecss-tab2" class="lt-tab-content lt-col col s12">
        <p>We don’t cut corners or promise unreasonable finish dates. We believe in fully trained, properly equipped teams and do our very best to keep them safe.</p>
      </div>
      <div id="lt-materializecss-tab3" class="lt-tab-content lt-col col s12">
        <p>We never leave you wondering. We update you regularly and communicate concerns or issues before they get out of hand.</p>
      </div>

    </div>
  </div>
</div>

<div class="lt-row row">
  <div class="lt-col col m6 s12">
    <div class="lt-super-large-padding center">
      <div class="lt-col col s12">
        <h2 class="lt-title">Roofing</h2>
      </div>
      <div class="lt-col col s12">
        <ul id="lt-octobercms-tab" class="lt-tabs tabs">
          <li class="tab lt-col col s4"><a class="active" href="#lt-octobercms-tab1">Inspections</a></li>
          <li class="tab lt-col col s4"><a href="#lt-octobercms-tab2">New Installations</a></li>
          <li class="tab lt-col col s4"><a href="#lt-octobercms-tab3">Emergency Services</a></li>
        </ul>
      </div>
      <div id="lt-octobercms-tab1" class="lt-tab-content lt-col col s12">
        <p>Our expert roofers will provide you with a thorough inspection review.</p>
      </div>
      <div id="lt-octobercms-tab2" class="lt-tab-content lt-col col s12">
        <p>Our roofing contractors are both friendly and professional with years of training and expertise to complete the best installation of your new roof.</p>
      </div>
      <div id="lt-octobercms-tab3" class="lt-tab-content lt-col col s12">
        <p>When an emergency arises, we offer quick and timely repairs for your home or commercial property.</p>
      </div>

    </div>
  </div>
  <div class="lt-col col m6 s12">
    <div class="parallax-container">
      <div class="lt-parallax parallax"><img src="{{ 'assets/img/pages/home/mainpage/overhead.jpeg'|theme }}" alt="image"></div>
    </div>
  </div>
</div>