==
<div class="lt-row row">
  <div class="lt-col col s12">
    <div class="lt-slider slider fullscreen">
      <ul class="slides">
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/roof1.jpeg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Learn About Our Company</h2>
            <div class="lt-slider-button">
              <a href="{{ 'about'|page }}" class="waves-effect waves-light btn-large primary-color-background">About Us<i class="material-icons right">input</i></a>
            </div>
          </div>
        </li>
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/roof2.jpeg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Whatever You Need, SF5 Construction Can Help</h2>
            <div class="lt-slider-button">
              <a href="{{ 'portfolio'|page }}" class="waves-effect waves-light btn-large primary-color-background">Portfolio<i class="material-icons right">input</i></a>
            </div>
          </div>
        </li>
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/roof3.jpeg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Any Questions Or Need A Free Quote?</h2>
            <div class="lt-slider-button">
              <a href="{{ 'contact'|page }}" class="waves-effect waves-light btn-large primary-color-background">Contact Us<i class="material-icons right">input</i></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>