#bbb-logo
{
  width: 40%;
  vertical-align: top;
  margin-right: 10%;
}

#toth-logo {
  width: 40%;
  border-radius: 10px;
}

.about-utility-list {
  margin-top: 15px;
  margin-bottom: 15px;   
  font-size: 1.2em;
  text-transform: uppercase;
  padding:0 10px; 
  letter-spacing:10px;
}

.about-utility {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.lt-footer-content {
    padding: 1rem 0;
}