==
<div class="lt-row row">
  <div class="lt-col col s6">
    <div class="flow-text col-xs-6">Subscribe to get themes updates and exclusive offers.</div>
  </div>
  <div class="lt-col col s6">
    <a href="https://www.bbb.org/us/tx/little-elm/profile/roofing-contractors/sf5-construction-and-general-contracting-inc-0875-90305914" target="_blank"><img src="{{ 'assets/images/bbb-logo.png'|theme }}" alt="bbb-logo" id="bbb-logo"></a>
    <img src="{{ 'assets/images/OC-TOTH-Preferred-Contractor.jpg'|theme }}" alt="top-of-the-house-logo" id="toth-logo">
  </div>
  </div>