==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">We Work For You</h2>
      <p class="flow-text">From exterior to interior, top to bottom, SF5 Construction specializes in all of your construction needs.</p>
    </div>
  </div>
</div>

<div class="lt-vertical-spacer"></div>

<div class="lt-row row">
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/images/portfolio/general-contracting-426x426.jpeg'|theme }}">
        <span class="card-title">General Contracting</span>
      </div>
      <div class="card-content">
        <p>Skilled professionals will discuss and analyze your specific construction needs.</p>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/images/portfolio/roofing-399x399.jpeg'|theme }}">
        <span class="card-title">Roofing</span>
      </div>
      <div class="card-content">
        <p>We specialize in replacements, reroofing, repairs, and roof service/maintenance.</p>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/images/portfolio/storm-353x353.jpeg'|theme }}">
        <span class="card-title">Full Storm Restoration</span>
      </div>
      <div class="card-content">
        <p>We help you understand the complexities of your damage and offer restoration services targeted towards your exact needs.</p>
      </div>
    </div>
  </div>
</div>

<div class="hide-on-small-only" style="height: 20px;"></div>

<div class="lt-row row">
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/images/portfolio/gutters-426x426.jpg'|theme }}">
        <span class="card-title">Gutters</span>
      </div>
      <div class="card-content">
        <p>We have a variety of options to choose from in order to complement your home or residential building while offering you water protection.</p>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="windows" src="{{ 'assets/images/portfolio/windows-426x426.jpeg'|theme }}">
        <span class="card-title">Screens & Windows</span>
      </div>
      <div class="card-content">
        <p>We offer window and screen replacement or repair as well as retractable screens and screen porches.</p>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/images/portfolio/painting-426x426.jpg'|theme }}">
        <span class="card-title">Painting</span>
      </div>
      <div class="card-content">
        <p> We specialize in high-quality interior and exterior painting for both residential and commercial properties. Our team of professional painters takes pride in their work and are committed to delivering beautiful, lasting results.</p>
      </div>
    </div>
  </div>
</div>

<div class="hide-on-small-only" style="height: 20px;"></div>

<div class="lt-row row">
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/images/portfolio/interior-425x425.jpeg'|theme }}">
        <span class="card-title">Interior</span>
      </div>
      <div class="card-content">
        <p>We also provide interior finish contracting and are recognized for delivering superior quality and exceptional attention to service.</p>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/images/portfolio/garage-426x426.jpeg'|theme }}">
        <span class="card-title">Garage Doors</span>
      </div>
      <div class="card-content">
        <p>We install, repair and replace garage doors and garage door openers.</p>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-image">
        <img class="responsive-img" alt="image" src="{{ 'assets/images/portfolio/siding-425x425.jpeg'|theme }}">
        <span class="card-title">Siding</span>
      </div>
      <div class="card-content">
        <p>SF5 Construction has the quality house siding and siding installation services you need for repair, replacement, or a complete transformation!</p>
      </div>
    </div>
  </div>
</div>