==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">What We Do</h2>
      <p class="flow-text">SF5 Construction comes to your house or place of business when it's most convenient for you.</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-call primary-color-text"></i>
      <h5>Contact Us</h5>
      <p>Call or email us for a prompt response.</p>
<!--       <h2 class="lt-title primary-color-text">19</h2> -->
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-home primary-color-text"></i>
      <h5>Stay Home</h5>
      <p>We Come To You!</p>
<!--       <h2 class="lt-title primary-color-text">256</h2> -->
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-camera primary-color-text"></i>
      <h5>Photos</h5>
      <p>Photo documentation of your roof.</p>
<!--       <h2 class="lt-title primary-color-text">128</h2> -->
    </div>
  </div>
</div>