==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Our Company</h2>
      <p class="flow-text">SF5 Construction is a locally owned company, and we stand out from other similar firms by offering services that you don’t normally experience. We see ourselves as an extension of the clients we serve, and our number one goal is to create a positive experience for all our clients. This is accomplished through extra attention to detail, superior communication, and spending quality time building the relationship. That’s because building relationships, not just buildings, is at the heart of everything we do.</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="on-top-of-roof" src="{{ 'assets/images/about/jake1.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-02.jpg'|theme }}">
    </div>
  </div>

  <div class="hide-on-small-only" style="height: 20px;"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-03.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-04.jpg'|theme }}">
    </div>
  </div>
</div>