==
<div class="lt-row row about-utility">
  <div class="center">
    <div class="lt-col col l3 m6 s12 about-utility-list">Roofing</div>
    <div class="lt-col col l3 m6 s12 about-utility-list">Gutters</div>
    <div class="lt-col col l3 m6 s12 about-utility-list">Screens</div>
    <div class="lt-col col l3 m6 s12 about-utility-list">Windows</div>
    <div class="lt-col col l3 m6 s12 about-utility-list">Painting</div>
    <div class="lt-col col l3 m6 s12 about-utility-list">Interior</div>
    <div class="lt-col col l3 m6 s12 about-utility-list">Garage doors</div>
    <div class="lt-col col l3 m6 s12 about-utility-list">Siding</div>
  </div>
</div>